#!/usr/bin/env sh

{{ if eq (env "CI") "true" }}
# mas 関連の除外
MAS_APPS="$(cat .Brewfile | grep -v brew | grep mas | sed 's/^.*", id: //' | tr '\n' ' ')"
export HOMEBREW_BUNDLE_MAS_SKIP="$MAS_APPS"
{{ end }}

brew bundle --global
source ~/.zshrc

# 隠しファイル表示
defaults write com.apple.finder AppleShowAllFiles true

# Dock を自動的に隠す
defaults write com.apple.dock autohide -bool true

# Dockマウスオン遅延無し
defaults write com.apple.Dock autohide-delay -float 0

# ステータスバーを表示
defaults write com.apple.finder ShowStatusBar -bool true

# パスバーを表示
defaults write com.apple.finder ShowPathbar -bool true

# タブバーを表示
defaults write com.apple.finder ShowTabView -bool true

# ライブラリディレクトリを表示
chflags nohidden ~/Library

# 未確認のアプリケーションを実行する際のダイアログを無効にする
defaults write com.apple.LaunchServices LSQuarantine -bool false

# すべての拡張子を表示する
defaults write NSGlobalDomain AppleShowAllExtensions -bool true

# メニューバー　隠す
defaults write NSGlobalDomain _HIHideMenuBar -bool true

# .DS_Store ファイルを作らせない設定 (ネットワークドライブ)
defaults write com.apple.desktopservices DSDontWriteNetworkStores true

# スリープまたはスクリーンセーバから復帰した際、パスワードを要求しない
defaults write com.apple.screensaver askForPassword -int 0

# ダウンロードしたアプリケーションの実行許可
sudo spctl --master-disable

# 省エネモード解除
defaults write NSGlobalDomain NSAppSleepDisabled -bool yes

# マウススクロール
defaults write NSGlobalDomain com.apple.swipescrolldirection -bool false

# デスクトップに表示する項目 ハードディスク
defaults write com.apple.finder ShowExternalHardDrivesOnDesktop -bool false

# デスクトップに表示する項目 外部ディスク
defaults write com.apple.finder ShowHardDrivesOnDesktop -bool false

# デスクトップに表示する項目 CD，DVD，および iPod
defaults write com.apple.finder ShowMountedServersOnDesktop -bool false

# デスクトップに表示する項目 接続しているサーバ
defaults write com.apple.finder ShowRemovableMediaOnDesktop -bool false

# https://discuss.binaryage.com/t/can-we-help-test-total-spaces-3-if-we-have-apple-silicon/8199/65
defaults write com.apple.dock "mru-spaces" -bool false

asdf plugin add nodejs
asdf install nodejs latest
asdf global nodejs latest

asdf plugin add golang
asdf install golang latest
asdf global golang latest

asdf plugin add rust
asdf install rust latest
asdf global rust latest

asdf plugin add deno  
asdf install deno latest
asdf global deno latest

asdf plugin add direnv
asdf direnv setup --shell zsh --version latest


{{ if ne (env "CI") "true" }}
# karabiner json
$(chezmoi source-path)/_/bin/karabiner--generation

# workspace
hdiutil create -type SPARSE -fs 'Case-sensitive Journaled HFS+' -size 256g -volname workspace ~/Documents/workspace.dmg.sparseimage

# https://github.com/akira-toriyama/Adv360-Pro-ZMK?tab=readme-ov-file#macos-specific
colima start --arch x86_64

# git commitのhook
git config --file=$(chezmoi source-path)/.git/config --add core.hooksPath .githooks

# alt-tab の設定を import
defaults import com.lwouis.alt-tab-macos $(chezmoi source-path)/_/plist/com.lwouis.alt-tab-macos.plist

# Terminalを自動で閉じる
/usr/libexec/PlistBuddy -c "add 'Window Settings':Basic:shellExitAction integer 1" ~/Library/Preferences/com.apple.Terminal.plist

# 起動時に実行するshell
osascript -e 'tell application "System Events" to make login item at end with properties {name: "mac--startup",path:"/Users/tommy/.local/share/chezmoi/_/bin/mac--startup", hidden:false}'

# git push でリモートブランチ名を指定なしで実行
git config --global push.default current

# 大文字・小文字区別
git config --global core.ignorecase false

# ghq
git config --global ghq.root '/Volumes/workspace/'
{{ end }}
